body {
    background: url(../image/grid.webp) no-repeat;
    margin: 0;
}
.container {
    padding: 45px;

}
.relative {
    width: 200px;
    height: 200px;
    background-color:coral;
    position: relative;
    left: 100px;
    top: 100px;
}
.absolute {
    width: 100px;
    height: 100px;
    background-color: royalblue;
    position: absolute;
    left: 100px;
    top: 100px;
}