body {
    background: url(../image/grid.webp) no-repeat;  /*배경사진을 반복하지 않음*/
    margin: 0;
}
.container {
    padding: 50px;
}
.relative, .absolute {
    width: 100px;
    height: 100px;
    background-color: coral;
}
.relative {
    position: relative;     /*적용 전 원래의 자리가 기준 */
    left: 100px;
    top: 100px;
    
}

.absolute {
    position: absolute;     /*원점이 기준*/
    background-color: royalblue;
    left: 100px;
    top: 100px;
}